# Laravel app key
LARAVEL_APP_KEY=
LARAVEL_APP_SALT=

# MySQL credentials
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# DBGate credentials
DBGATE_PASSWORD=

# NoCAPTCHA
NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=

# Mailjet
MAILJET_APIKEY=
MAILJET_APISECRET=

# Adobe
ADOBE_EMBED_API=
